<div class="column event-dash event-workspace is-3 has-shadow is-paddingless">
	<div class="scrollbar" id="style-1">
		<div class="tabs is-centered">
			<ul>
				<li class="is-active event-tab__item" id="following" ng-click='following()'>
					<a>Seguindo</a>
				</li>
				<li class="event-tab__item" ng-click='myEvents()' id="my-events">
					<a class="event-tab__text" >Meus</a>
				</li>
			</ul>
		</div>
		<div class="event-dash">
			<div ng-repeat="event in events">
				<div class="card event-card" >
					<div class="card-content event-dash__item">
						<h4 class="event-card__title">
							{{event.name}}
						</h4>
						<div class="subtitle event-card__description">
							{{event.start_date | date:"dd/MM/yy '-' hh:mma"}} 
							<br/>
							{{event.end_date | date:"dd/MM/yy '-' hh:mma"}}
						</div>
					</div>
				</div>
				<br />
			</div>
		</div>
	</div>
</div>