
@import "client/node_modules/bulma/sass/utilities/initial-variables";


$primary: $red !default
$background: $grey-dark !default
$fmy-grey-light: #a0a0a0 !default
$fmy-grey-darker: #2F2F2F;
$fmy-grey: $grey-darker;

html, body{
	height:100%;
}

.event-workspace {
  	height: 100%;
  	position: fixed;
  	z-index: 101;
 }

.event-dash {
	padding: 0 3%;
	background-color: $grey-darker;

	&__item {
		background-color: $background;
	}
}

.primary-label{
	color: $primary;
}

.event-tab {

	&__item {
		width: 50%;
	}

	&__text {
		color: $fmy-grey-light !important;
	}
}

.event-card {
	&__content {
		background-color: $background !important;
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
		word-break: break-word;
		color: $fmy-grey-light;
	}

	&__description {
		color: $fmy-grey-light !important;
		font-size: 16px !important;
	}

	&:hover {
		cursor: pointer;
	}
}

.workspace {
	height: 100%;
	margin-left: 25%;

	&-top {
		background-color: $fmy-grey;
		height: 40px;
		width: 100%;
		position: fixed;
		z-index: 100;
	}
	
	&-main {
		background-color: $fmy-grey-darker !important;
		//margin-bottom: 40px;
		//margin-top: 40px;
		z-index: 98;
		min-height: 100%;
	}
	
	&-footer {
		position: fixed;
		bottom: 0;
		width: 75%;
		
		background-color: $fmy-grey;
	}
}

// Outras classes

.scrollbar {
	width: 100%;
	float: left;
	height: 100%;
	margin-bottom: 40px;
	background: transparent;
	overflow-y: scroll;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: $fmy-grey;
}

#style-1::-webkit-scrollbar
{
	width: 7px;
	background-color: $fmy-grey;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.tabs a:hover {
    border-bottom-color: $primary !important;
    color: $primary !important;
    background-color: #222222;
}

.footer-menu__item {
	color: $fmy-grey-light !important;
}

.fixed {			
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.reset-padding{
	padding-right: 0!important;
}

.scrollbar {
	overflow-y: auto;
}

.force-overflow {
    min-height: 450px;
}

.total-height{
	height: 100% !important;
}

@import "client/node_modules/bulma/bulma.sass";
@import "templates.scss";