@import "client/node_modules/bulma/sass/utilities/initial-variables";

$primary: $red !default
$background: $grey-dark !default
$fmy-grey-light: #a0a0a0 !default
$fmy-grey-darker: #2F2F2F;

html, body{
	height:100%;
}

 .event-workspace {
		float: left;
  	height: 100%;
  	position: fixed;
 }

.event-dash {
	padding: 0 3%;
	background-color: $grey-darker;

	&__item {
		background-color: $grey-dark;
	}
}

.event-tab {

	&__item {
		width: 50%;
	}

	&__text {
		color: $fmy-grey-light !important;
	}
}

.tabs a:hover {
    border-bottom-color: $primary !important;
    color: $primary !important;
    background-color: #222222;
}

.event-card {
	&__content {
		background-color: $grey-dark !important;
	}

	&__title {
		color: $fmy-grey-light !important;
	}

	&__description {
		color: $fmy-grey-light !important;
		font-size: 16px !important;
	}

	&__footer {
		border-color: $fmy-grey-light !important;

		&__text {
			color: $fmy-grey-light;

			&:hover {
				color: $primary !important;
			}
		}
	}
}

.workspace {
	height: 100%;
	float: right;
}

.workspace-main {
	background-color: $fmy-grey-darker !important;
	flex-direction: column;
	height: 100%;
}

.workspace-footer {
	position: fixed;
	bottom: 0;
	width: 75%;
	
	background-color: $grey-darker;
}

.footer-menu__item {
	color: $fmy-grey-light !important;
}

.roger {
	padding-top: 10px !important;
	background-color: $grey-darker;	
}

.fixed {			
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

.reset-padding{
	padding-right: 0!important;
}

.scrollbar {
	overflow-y: auto;
}

.force-overflow {
    min-height: 450px;
}

.total-height{
	height: 100% !important;
}

@import "client/node_modules/bulma/bulma.sass";